@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: rotation 5s linear infinite;
}

:root {
  --main-black: #1A1A25;
  --main-background: #F6F6F6;
  --main-pink: #CB11AB;
  --max-width: 1440px;
}

/* !SCROOL */
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}

body {
  box-sizing: border-box;
    background:black;
}
/* 
.background {
  background-color: #1A1A25;
} */

/* .container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px
} */

.main-black-background {
  background-color: var(--main-black);
}

.main-pink-background {
  background-color: #CB11AB;
}

.max-container{
  max-width: var(--max-width);
  margin:0 80px
}


.shape {
  cursor: pointer;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.image {
  pointer-events: none;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 212 9% 14%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.bg-theme {
  background-color: #ffffff; /* Light mode */
  background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}

.dark .bg-theme {
  background-color: #202327; /* Dark mode */
  background-image:
    linear-gradient(rgba(255,255,255,0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px);
  background-size: 50px 50px;
}
#logo {
	display: flex;
	align-items: center;
}

#logo >h1 {
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	background: linear-gradient(
		to right,
		hsla(221, 81%, 49%, 0.783) 0%,
		hsl(0, 0%, 100%) 10%,
		hsla(221, 81%, 49%, 0.783) 20%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 12s infinite ease-in-out;
	padding-left: 10px;
}

#logo h1:hover {
	animation: none;
}

@keyframes shine {
	0% {
		background-position: 0% center;
	}
	50% {
		background-position: 100% center;
	}
	100% {
		background-position: 200% center;
	}
}

#logo.active {
	order: 1;
	z-index: 99;
	display: flex;
	justify-content: center;
}

#logo.active h1 {
	color: white;
	text-align: center;
	font-size: 3rem;
	-webkit-text-fill-color: white;
}

